.guestbook {
  flex-grow: 1;
  flex-basis: 20em;
  flex-shrink: 0;
  padding: 2em;
  width: 20rem;
}

.container {
  padding: 1em;
  border: #e7e7e7 double;
  display: flex;
  flex-direction: column;
  gap: 1em;

  h3{
    margin: 0;
  }

  .messages {
    overflow-wrap: break-word;
    overflow: scroll;
    height: 15em;
    .author {
      color: #e986ae;
    }

  }


}